/**
 * admin-repeater-builder.scss
 * Styles applied to WPForms builder's Repeater field.
 */
#wpforms-panel-fields {
	.wpforms-field-repeater {
		.wpforms-repeater-divider {
			height: 30px;
			position: relative;
			text-align: center;
		}
		.wpforms-repeater-label {
			background-color: #fff;
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			padding: 5px;
			position: relative;
			z-index: 10;
		}

		&.wpforms-field-dragging {
			.wpforms-repeater-label {
				background-color: #f1f1f1;
			}
		}

		.line {
			border-top: 1px dashed #ccc;
			display: block;
			left: 0;
			position: absolute;
			top: 50%;
			width: 100%;
		}
	}

	.wpforms-field-repeater.active {
		.wpforms-repeater-label {
			background-color: #f8f8f8;
		}

		&.wpforms-field-dragging {
			.wpforms-repeater-label {
				background-color: #f8f8f8;
			}
		}
	}

	// Repeater buttons.
	.wpforms-field.wpforms-field-repeater {
		.wpforms-repeater-buttons .wpforms-repeater-button {
			background: #999;
			border: none;
			border-radius: 3px;
			color: #fff;
			cursor: pointer;
			font-size: 14px;
			font-weight: 600;
			line-height: 16px;
			padding: 8px 20px;
			margin: 10px 0;

			&.wpforms-repeater-add {
				margin-right: 5px;
			}
		}

		&.wpforms-repeater-top .wpforms-field-delete,
		.wpforms-field-duplicate {
			display: none;
		}

		.label_hide {
			padding-top: 15px !important;
		}
	}
}
